@using shop.web.Entities
@using shop.web.ModelView
@* @model AddItemToTableViewModel; *@
@model List<Item>;
@{
    ViewData["Title"] = "Produtos";
}

@{
    if (Model == null || Model.Count == 0)
    {
        <div>Nenhum item cadastrado. </div>
    }
    else
    {
        foreach (Item item in Model)
        {
            <div class="flex flex-column hover:cursor-pointer bg-slate-300 items-center w-full rounded-md pb-2 md:w-[30%] lg:w-[23.5%]" onclick="openModal(@item.Id, @item.Price, '@item.Thumb', '@item.Description')">

                    <div>
                        <img width="100px" src="~/img/@item.Thumb" />
                    </div>
                    <div>
                        @item.Description
                    </div>

                    <div class="flex justify-between">
                        <div>
                            R$ @((item.Price / 100).ToString("F"))
                        </div>
                    </div>
            </div>
        }

    }
}